<h1>Productos en Stock</h1>

<ul>
  {{#each products}}
    <li>
      <strong>{{title}}</strong> - ${{price}}
      <form action="/cart/add/{{_id}}" method="POST" style="display:inline;">
        <button type="submit">Agregar al carrito</button>
      </form>
    </li>
  {{/each}}
</ul>

<a href="/cart">Ver carrito</a>
