<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>bienvenidos a la verduleria On-Line en modo desarrollador</h1>
    <h2>Lista de productos</h2>
    {{#if products}}
        <ul>
            {{#each products}}
                <li>{{this.title}}</li>
                <button type="button" data-id="{{data.id}}">Eliminar Producto</button>
            {{/each}}
        </ul>
    {{else}}
        <p>No hay productos disponibles</p>
    {{/if}}

    <form>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <button type="submit">Agregar producto</button>

    </form>


</body>

</html>